<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{product.image}}" alt="{{product.name}}" class="img-fluid" width="400px" height="auto">
            </div>
            <div class="col-md-6">
                <h2>{{product.name}}</h2>
                <span>Giá: {{formatPrince product.price}}</span>
                <div class="add-to-cart mt-4">
                    <form id="addOrder">
                        <input type="hidden" id="size" name="size">
                        <div class="size-options">
                            {{#each product.sizes}}
                                <button type="button" class="btn btn-outline-dark size-btn" 
                                    onclick="handleSizeClick({{this.size}}, {{this.quantity}})"
                                    data-size="{{this.size}}" 
                                    data-quantity="{{this.quantity}}"
                                    {{#if (eq this.quantity 0)}}disabled{{/if}}>
                                    {{this.size}}
                                </button>
                            {{/each}}
                        </div>

                        <div class="quantity-container mt-3">
                            <label for="quantity">Số Lượng</label>
                            <div class="d-flex align-items-center">
                                <input type="number" id="quantity" name="quantity" value="1" min="1" class="form-control text-center mx-2" style="width: 60px;">
                                
                                <span class="ms-2 text-muted available-quantity" id="valueSize"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success">Thêm vào giỏ hàng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="product-description mt-4">
        <h4>MÔ TẢ SẢN PHẨM</h4>
        <p>{{product.description}}</p>
    </div>

</body>



<script>
    $(document).ready(function() {
        $("#addOrder").submit(function(event){
            event.preventDefault();

            const size = $("#size").val();
            const quantity = $("#quantity").val();
            const idProduct = "{{product._id}}";

            $.ajax({
                url: `/order/${idProduct}`,
                method: "POST",
                data: {
                    size: size,
                    quantity: quantity
                },
                success: function(response){
                    if(response.message === 'Thêm thành công' || response.message === 'Cập nhật giỏ hàng thành công'){
                        window.location.reload();
                        alert(response.message);
                    } else {
                        alert(response.message);
                    }
                },
                error: function() {
                    alert("Sản phẩm không có đủ số lượng");
                }
            });
        });
    });
    function handleSizeClick(size, quantity) {
        document.getElementById("valueSize").innerText = `Còn lại: ${quantity}`;
        document.getElementById("size").value = size; // Lưu size đã chọn
    }


</script>

